[class^="icon-"], [class*=" icon-"]{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.icon-quotes{
	width: 11px;
	height: 12px;
	background: url(../img/icons/quotes.svg) no-repeat center center;
}

.icon-play{
	width: 20px;
	height: 20px;
	background: url(../img/icons/play.svg) no-repeat center center;
}

.icon-facebook{
	width: 12px;
	height: 23px;
	background: url(../img/icons/facebook.png) no-repeat center center;
}

.icon-linkedin{
	width: 24px;
	height: 23px;
	background: url(../img/icons/linkedin.png) no-repeat center center;
}

.icon-twitter{
	width: 28px;
	height: 23px;
	background: url(../img/icons/twitter.png) no-repeat center center;
}

.icon-medium{
	width: 25px;
	height: 21px;
	background: url(../img/icons/medium.png) no-repeat center center;
}