// .tpg - typoraphy prefix

body{
	font-size: 16px;
	line-height: 27px;
	color: $text-color;
	font-family: $main-font;
	font-weight: 500;
}

.tpg p,
body .tpg-body-1,
.tpg-note{
	font-size: 16px;
	line-height: 27px;
	margin: 0 0 27px;

	&:last-child{
		margin-bottom: 0;
	}

	a{
		color: $text-link;
		text-decoration: none;

		&:hover{
			text-decoration: underline;
		}
	}
}

sup{
	vertical-align: top;
	position: relative;
	top: -0.5em;
}

body .tpg-body-2{
	font-weight: bold;
}

// .tpg-note{
// 	font-size: 10px;
// 	line-height: 12px;
// 	margin-bottom: 10px;
// 	color: $primary;
// 	font-weight: bold;
// 	text-transform: uppercase;
// }

.tpg h1,
body .tpg-h1{
	font-size: 70px;
	line-height: 81px;
	margin: 0 0 13px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;

	&:last-child{
		margin-bottom: 0;
	}
}

// .tpg h2,
// body .tpg-h2{
// 	font-size: 36px;
// 	line-height: 1.2;
// 	margin: 0 0 25px;
// 	font-weight: 500;

// 	&:last-child{
// 		margin-bottom: 0;
// 	}

// 	@media screen and (max-width: 767px){
// 		font-size: 26px;
// 	}
// }

// .tpg h3,
// body .tpg-h3{
// 	font-size: 24px;
// 	line-height: 1.25;
// 	margin: 0 0 1.25em;
// 	font-weight: 400;

// 	&:last-child{
// 		margin-bottom: 0;
// 	}

// 	@media screen and (max-width: 767px){
// 		font-size: 18px;
// 	}
// }

.tpg h4,
body .tpg-h4{
	font-size: 30px;
	line-height: 1.83;
	margin: 0 0 3;
	font-weight: 500;
	text-transform: uppercase;

	&:last-child{
		margin-bottom: 0;
	}
}

// .tpg ul,
// body .tpg-ul{
// 	list-style: none;
// 	margin-bottom: 24px;

// 	li{
// 		font-size: 16px;
// 		line-height: 24px;

// 		&:before{
// 			content: '•  ';
// 			color: $primary;
// 		}
// 	}
// }

// .section-more-link{
// 	font-size: 14px;
// 	line-height: 24px;
// 	text-align: center;
// 	color: $text-color;
// 	text-decoration: underline;
// 	text-transform: uppercase;
// 	font-weight: 600;

// 	&:hover{
// 		color: $accent;
// 	}
// }

.section-caption{
	margin-bottom: 15px;
	position: relative;

	&:last-child{
		margin-bottom: 0;
	}

	.sc-title{
		font-size: 36px;
		line-height: 1.53;
		font-weight: 500;
		letter-spacing: 0.9px;
		text-transform: uppercase;
		color: $primary;
		text-align: center;
	}

	.sc-subtitle{
		font-size: 24px;
		line-height: 1.333;
		font-weight: 500;
		color: $text-color;
		text-align: center;
	}
}