// .select-field{
// 	display: inline-flex;
// 	cursor: pointer;

// 	&.fullwidth{
// 		width: 100%;
// 	}

// 	.jcf-select{
// 		border: 0;
// 		margin-bottom: 0;
// 		color: $text-color;
// 		font-size: 16px;
// 		height: 44px;
// 		background: transparent;
// 		transition: all $t;
// 		cursor: pointer;
// 		width: 100%;
// 		min-width: auto;
// 		border: 1px solid #cacaca;
// 	}

// 	.jcf-select-text{
// 		line-height: 44px;
// 		margin-right: 44px;
// 		margin-left: 15px;
// 		font-size: 16px;
// 		cursor: pointer;

// 		.jcf-option-hideme{
// 			color: #717171;
// 		}
// 	}

// 	.jcf-select-opener{
// 		width: 44px;
// 		background: none;
// 		display: flex;
// 		align-items: center;
// 		justify-content: center;

// 		&:before{
// 			content: "";
// 			display: block;
// 			width: 12px;
// 			height: 7px;
// 			background: url(../img/icons/select-opener.png);
// 			transition: all $t;
// 		}
// 	}

// 	.jcf-drop-active{
// 		.jcf-select-opener:before{
// 			transform: rotate(-180deg);
// 		}
// 	}

// 	.jcf-select-drop{
// 		z-index: 90;

// 		.jcf-select-drop-content{
// 		}
// 	}

// 	.jcf-list{
// 		margin: 5px 0;
// 		overflow: hidden;
// 		box-shadow: $shadow;

// 		li{
// 			border-bottom: 1px solid #eee;

// 			&:last-child{
// 				border-bottom: 0;
// 			}
// 		}

// 		.jcf-option{
// 			font-size: 14px;
// 			line-height: 20px;
// 			padding: 12px 22px;
// 			color: $text-color;
// 			cursor: pointer;
// 			transition: all $t;
// 			background: #fff;

// 			&:hover,
// 			&.jcf-selected{
// 				color: $primary;
// 				background: #eee;
// 			}
// 		}
// 	}

// 	&.white{
// 		.jcf-select{
// 			color: #fff;
// 			border-color: #fff;
// 		}

// 		.jcf-select-opener{
// 			&:before{
// 				background: url(../img/icons/select-opener-orange.png);
// 			}
// 		}
// 	}

// 	&.small{
// 		.jcf-select-text{
// 			font-size: 14px;
// 		}
// 	}
// }

.form-field{
	p{
		margin-bottom: 10px;
		font-size: 18px;
		line-height: 1.444;
	}

	.input-field input,
	textarea{
		border: 0;
		height: 53px;
		width: 100%;
		font-size: 16px;
		color: #fff;
		padding: 0 28px;
		outline: none !important;
		transition: all $t;
		background: rgba(21, 30, 57, 0.84);
		border-radius: 2px;
		border: solid 1px #7f8fa6;
		font-family: $main-font;
		font-weight: 300;

		&::placeholder{
			color: #fff;
			transition: all $t;
		}

		&:focus{
			border-color: $primary;
		}
	}

	textarea{
		height: 156px;
		padding: 13px 28px;
		resize: none;
	}
}

.form{
	.form-row{
		margin-bottom: 10px;
		display: flex;
		width: 100%;
		width: calc(100% + 10px);
		margin-left: -5px;
		margin-right: -5px;

		&:last-child{
			margin-bottom: 0;
		}

		.form-field{
			padding: 0 5px;
			flex: auto;
			flex-basis: 100%;
		}
	}

	&.footer-form{
		width: 100%;
		max-width: 593px;
	}
}