.slick-slider{
	.slide{
		outline: none !important;
	}
}

.slick-dots{
	bottom: -70px;

	li{
		width: 14px;
		height: 14px;
		margin: 0 5px;

		button{
			width: 14px;
			height: 14px;

			&:before{
				content: '';
				width: 14px;
				height: 14px;
				border-radius: 50%;
				background: linear-gradient(170deg, #f8f8fa, #efeef3);
				box-shadow: 0 18px 20px 0 rgba(0, 0, 0, 0.18);
				opacity: .43;
				transition: all $t;

				&:hover{
					opacity: 1;
				}
			}
		}

		&.slick-active{
			button{
				&:before{
					opacity: 1;
				}
			}
		}
	}
}